<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4f83b214c6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--******************** Header Section ********************-->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">Розклад</div>
      <nav class="navbar" id="nav">
        <a href="/" class="navbar__link">Головна</a>
        <a href="student" class="navbar__link">Студент</a>
        <a href="vukladach" class="navbar__link">Викладач</a>
        <a href="zaminu" class="navbar__link">Заміни</a>
      </nav>
      <button class="nav-toggle" id="nav-toggle" type="button">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</header>
<!--******************** Main Section ********************-->
<section class="error">
  <div class="container">
    <div class="error__title">
      Нажаль втрачено зв'язок з базою даних або немає активного розкладу :(
    </div>
  </div>
</section>
<!--******************** Footer Section ********************-->
<footer class="footer__wrapper">
  <div class="container">
      <span class="footer__text">&copy  2020 Andrew Mislyuk & Vadim Lepishko RPZ 16-1/9</span>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/modal.js"></script>
</body>
</html>
